<h2 align="center" class="jumbotron">Title: <%= @article.title %></h2>

<table align="center" class="table table-hover">
  <tr>
    <td>Key: <%= @article.key %></td>
  </tr>
  <tr>
    <td>Instrument: <%= @article.instrument %></td>
  </tr>
  <tr>
    <td>Description: <%= @article.description %></td>
    </tr>
</table>

<div class="container">
  <iframe src="//www.youtube.com/embed/DokUjuZmpCE"></iframe>
</div>
