<div class="container">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <%= link_to "new tune submission", new_article_path %>
</div>

<div class="container">
    <%= link_to "tune submissions", articles_path %>
</div>


<div class="container">
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
</div>