<div align="center" class="container jumbotron">
    <h1>Dashboard</h1>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <%= link_to "My Recordings", articles_path, class: "btn dashboard-btn" %>
    <%= link_to "Create New Recording", new_article_path, class: "btn dashboard-btn" %>
  </div>
</div>