<div>
  <h2><%= @user.username %>'s Repertoire (all instruments)</h2>
</div>

<%= render partial: '/tunes/search', locals: { path: @path, q_obj: @q } %>
<%= render partial: '/tunes/tune', locals: { tunes: @user_tunes, q_obj: @q } %>
