<!-- if user's own show page show actions dashboard -->
<% if @user == current_user %>
  <div align="center" class="container">
    <%= render "my_dashboard" %>
  </div>
<% else %>
  <div align="center" class="container">
    <%= render "user_dashboard" %>
  </div>
<% end %>
