<div align="center" class="jumbotron">
  <h2 class="chart-number">Chord Chart (ver <%= @tune.charts.find_index(@chart)+1 %>)</h2>
  <% if @chart.name %>
    <h3><% @chart.name %></h3>
  <% end %>
</div>
  
<div class="charts">
  <% @chart.progressions.each do |progression| %>
    <div>
      Part <%= progression.part_number %>: 
      <% progression.chord_list.split(' ').each do |chord| %>
        <span class="alert alert-success chord"><%= chord %></span>
      <% end %>
    </div>
  <% end %>
</div>
