<div align="center" class="page-header">
  <h1>Jam Sessions</h1>
  <br>
  <%= button_to "(+) New Jam", new_jam_path, :method => "get", class: "btn btn-lg btn-primary" %>
  <br>
</div>

<div align="center">
  <%= render 'jam_overview', obj: @jams %>
</div>
