<h1 align="center" class="jumbotron">Tunes</h1>

<%= button_to "(+) Add tune to database", new_tune_path, :method => "get", class: "btn btn-lg btn-primary" %>

<%= render 'search', path: @path, q_obj: @q %>
<%= render 'tune', tunes: @tunes, q_obj: @q %>
