<!-- COMMENT (CREATE) ACTIVITY PARTIAL-->

<div class="alert alert-info" role="alert">
  <i class="fa fa-lg fa-quote-left activity-icon"></i>
  <% if activity.owner %>
    <%= link_to activity.owner.username, activity.owner, {:class => "alert-link"} %>
  <% end %>
  <% if activity.trackable %>
    commented on the <%= get_parent_commentable(activity.trackable).class.name.downcase %> 
    <% if get_parent_commentable(activity.trackable).name.blank? %>
      <%= link_to "No Name", get_parent_commentable(activity.trackable), {:class => "alert-link"} %>
    <% else %>
      <%= link_to get_parent_commentable(activity.trackable).name, get_parent_commentable(activity.trackable), {:class => "alert-link"} %>
    <% end %>
  <% else %>
    made a comment that has since been deleted
  <% end %>
</div>
