// Place all the styles related to the Charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.charts {
  //font-size: 3em;
  padding-top: 12px;
  padding-bottom: 12px;
}

.chart-title {
  font-weight: bold;
  font-size: 2.5em;
}

