ul {
  list-style-type: none; /* remove list bullets */
}

footer {
  padding-top: 20px;
  margin-top: 20px; /* space between content and footer */
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

/* GENRE CHECKBOX BUTTONS */
// .btn-genre {
//   background-color: #faebd7; /* antique-white */
//   border-color: #141414; /* matte black */
// }

// .input_checkbox input {
//   width: auto !important;
// }

// .btn-genre > input[type="checkbox"]:checked + label {
//   background-color: #428bca; /* bootstrap blue */
//   color: #faebd7; /* antique-white */
//   font-weight: bold;
// }


// .btn-genre > input[type="checkbox"]:checked + label {
//   background-color: #428bca; /* bootstrap blue */
//   color: #faebd7; /* antique-white */
//   font-weight: bold;
// }


// input[type="checkbox"]:checked + label {
//   background-color: #428bca; /* bootstrap blue */
//   color: #f00;
//   font-style: normal;
// } 
