// Place all the styles related to the InstrumentsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.svg-xxs {
  width: 10%;
  height: auto;
}

.svg-xs {
  width: 15%;
  height: auto;
}

.svg-sm {
  width: 25%;
  height: auto;
}

.svg-lg {
  width: 100%;
  height: auto;
}