
.jam-tunes {
  text-align: center;
}

.jam-tune-title {
  text-shadow: 0 0 1px #0000FF, 0 0 2px #FF0000;
  font-size: 3.5em;
}

.jam-first-source {
  padding-top: 2em;
}

.jam-chord-chart {
  padding-top: 2em;
  // border: 1px solid #ccc!important;
  // border-radius: 16px;
}