// Place all the styles related to the Progressions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.measure {
  font-size: 1.6em;
  // font-weight: bold;
  display: inline-block;
  border-left: thick solid #ff0000;
  border-right: thick solid #ff0000;
  // text-align: center;
  // border-radius: 20%;
}
