.edit-tune {
  text-align: right;
}

.tune-icon {
  margin-left: 5px;
} 

.recent-tune {
  font-size: 1.1em;
}

.tune-title {
  font-family: Verdana, sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
}

.star-yellow {
  color: #FFFF00;
}

.add-to-starred {
  display: none;
}

.tune-row:hover .add-to-starred {
  display: inherit;
}