<div align="left" class="page-header">
  <h1>Recent Activity</h1>
</div>

<%= paginate @activities %>
<div align="left">
  <% @activities.each do |activity| %>
    <div class="activity">
      <%= render_activity activity %>
    </div>
  <% end %>
</div>
<%= paginate @activities %>
<%= page_entries_info @activities %>