<h2>
  <%= "#{@instrument.user.username}'s #{@instrument.type} Repertoire" %>
</h2>

<%= render partial: '/tunes/search', locals: { path: @path, q_obj: @q } %>
<%= render partial: '/tunes/tune', locals: { tunes: @instrument_tunes, q_obj: @q } %>